# Project exclude paths
/cmake-build-debug/
.idea
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp_autogen.dir/AutogenInfo.json
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder_autogen.dir/AutogenInfo.json
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib_autogen.dir/AutogenInfo.json
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp_autogen.dir/AutogenUsed.txt
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder_autogen.dir/AutogenUsed.txt
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib_autogen.dir/AutogenUsed.txt
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/build.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp_autogen.dir/build.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder.dir/build.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder_autogen.dir/build.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib.dir/build.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib_autogen.dir/build.make
/example/SimpleMain/cmake-build-debug/CMakeFiles/SimpleMain.dir/build.make
/example/SimpleMain/CMakeFiles/SimpleMain.dir/build.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/clion-environment.txt
/example/SimpleMain/cmake-build-debug/CMakeFiles/clion-environment.txt
/example/SimpleMain/CMakeFiles/clion-environment.txt
/example/QtRecorder/cmake-build-debug/CMakeFiles/clion-log.txt
/example/SimpleMain/cmake-build-debug/CMakeFiles/clion-log.txt
/example/QtRecorder/cmake-build-debug/CMakeFiles/cmake.check_cache
/example/SimpleMain/cmake-build-debug/CMakeFiles/cmake.check_cache
/example/SimpleMain/CMakeFiles/cmake.check_cache
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/cmake_clean.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp_autogen.dir/cmake_clean.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder.dir/cmake_clean.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder_autogen.dir/cmake_clean.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib.dir/cmake_clean.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib_autogen.dir/cmake_clean.cmake
/example/SimpleMain/cmake-build-debug/CMakeFiles/SimpleMain.dir/cmake_clean.cmake
/example/SimpleMain/CMakeFiles/SimpleMain.dir/cmake_clean.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib.dir/cmake_clean_target.cmake
/example/QtRecorder/cmake-build-debug/cmake_install.cmake
/example/SimpleMain/cmake-build-debug/cmake_install.cmake
/example/SimpleMain/cmake_install.cmake
/example/QtRecorder/cmake-build-debug/CMakeCache.txt
/example/SimpleMain/cmake-build-debug/CMakeCache.txt
/example/SimpleMain/CMakeCache.txt
/example/SimpleMain/cmake-build-debug/CMakeFiles/3.20.2/CMakeCCompiler.cmake
/example/SimpleMain/CMakeFiles/3.20.2/CMakeCCompiler.cmake
/example/SimpleMain/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
/example/SimpleMain/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
/example/SimpleMain/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.o
/example/SimpleMain/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
/example/SimpleMain/cmake-build-debug/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
/example/SimpleMain/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/example/SimpleMain/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/example/SimpleMain/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/example/QtRecorder/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.o
/example/SimpleMain/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.o
/example/SimpleMain/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.o
/example/SimpleMain/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
/example/SimpleMain/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
/example/QtRecorder/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
/example/SimpleMain/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
/example/SimpleMain/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
/example/QtRecorder/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/example/SimpleMain/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/example/SimpleMain/CMakeFiles/CMakeDirectoryInformation.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/CMakeError.log
/example/SimpleMain/cmake-build-debug/CMakeFiles/CMakeError.log
/example/SimpleMain/CMakeFiles/CMakeError.log
/example/QtRecorder/cmake-build-debug/CMakeFiles/CMakeOutput.log
/example/SimpleMain/cmake-build-debug/CMakeFiles/CMakeOutput.log
/example/SimpleMain/CMakeFiles/CMakeOutput.log
/example/QtRecorder/cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
/example/QtRecorder/cmake-build-debug/CMakeFiles/3.20.2/CMakeSystem.cmake
/example/SimpleMain/cmake-build-debug/CMakeFiles/3.20.2/CMakeSystem.cmake
/example/SimpleMain/CMakeFiles/3.20.2/CMakeSystem.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp_autogen.dir/compiler_depend.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder_autogen.dir/compiler_depend.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib_autogen.dir/compiler_depend.make
/example/SimpleMain/CMakeFiles/SimpleMain.dir/compiler_depend.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp_autogen.dir/compiler_depend.ts
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder_autogen.dir/compiler_depend.ts
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib_autogen.dir/compiler_depend.ts
/example/SimpleMain/CMakeFiles/SimpleMain.dir/compiler_depend.ts
/example/QtRecorder/cmake-build-debug/crop_test.mp4
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/CXX.includecache
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder.dir/CXX.includecache
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib.dir/CXX.includecache
/example/SimpleMain/CMakeFiles/SimpleMain.dir/CXX.includecache
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/depend.internal
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder.dir/depend.internal
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib.dir/depend.internal
/example/SimpleMain/CMakeFiles/SimpleMain.dir/depend.internal
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/depend.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder.dir/depend.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib.dir/depend.make
/example/SimpleMain/cmake-build-debug/CMakeFiles/SimpleMain.dir/depend.make
/example/SimpleMain/CMakeFiles/SimpleMain.dir/depend.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/DependInfo.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp_autogen.dir/DependInfo.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder.dir/DependInfo.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder_autogen.dir/DependInfo.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib.dir/DependInfo.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib_autogen.dir/DependInfo.cmake
/example/SimpleMain/cmake-build-debug/CMakeFiles/SimpleMain.dir/DependInfo.cmake
/example/SimpleMain/CMakeFiles/SimpleMain.dir/DependInfo.cmake
/example/QtRecorder/cmake-build-debug/ewrt.mp4
/example/SimpleMain/filmato_di_prova.mp4
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/flags.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder.dir/flags.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib.dir/flags.make
/example/SimpleMain/cmake-build-debug/CMakeFiles/SimpleMain.dir/flags.make
/example/SimpleMain/CMakeFiles/SimpleMain.dir/flags.make
/example/QtRecorder/cmake-build-debug/giuliocarotino.mp4
/example/QtRecorder/cmake-build-debug/Testing/Temporary/LastTest.log
/example/SimpleMain/cmake-build-debug/Testing/Temporary/LastTest.log
/example/SimpleMain/Testing/Temporary/LastTest.log
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/link.txt
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder.dir/link.txt
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib.dir/link.txt
/example/SimpleMain/cmake-build-debug/CMakeFiles/SimpleMain.dir/link.txt
/example/SimpleMain/CMakeFiles/SimpleMain.dir/link.txt
/example/QtRecorder/cmake-build-debug/lol.mp4
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/main.cpp.o
/example/SimpleMain/CMakeFiles/SimpleMain.dir/main.cpp.o
/example/QtRecorder/cmake-build-debug/Makefile
/example/SimpleMain/cmake-build-debug/Makefile
/example/SimpleMain/Makefile
/example/QtRecorder/cmake-build-debug/CMakeFiles/Makefile.cmake
/example/SimpleMain/cmake-build-debug/CMakeFiles/Makefile.cmake
/example/SimpleMain/CMakeFiles/Makefile.cmake
/example/QtRecorder/cmake-build-debug/CMakeFiles/Makefile2
/example/SimpleMain/cmake-build-debug/CMakeFiles/Makefile2
/example/SimpleMain/CMakeFiles/Makefile2
/example/QtRecorder/cmake-build-debug/meta_stefano.mp4
/example/QtRecorder/cmake-build-debug/QTExampleApp_autogen/moc_predefs.h
/example/QtRecorder/cmake-build-debug/QtRecorder_autogen/moc_predefs.h
/example/QtRecorder/cmake-build-debug/screenreclib_autogen/moc_predefs.h
/example/QtRecorder/cmake-build-debug/QTExampleApp_autogen/EWIEGA46WW/moc_qtrecorder.cpp
/example/QtRecorder/cmake-build-debug/QtRecorder_autogen/EWIEGA46WW/moc_qtrecorder.cpp
/example/QtRecorder/cmake-build-debug/screenreclib_autogen/EWIEGA46WW/moc_qtrecorder.cpp
/example/QtRecorder/cmake-build-debug/QTExampleApp_autogen/EWIEGA46WW/moc_qtrecorder.cpp.d
/example/QtRecorder/cmake-build-debug/QtRecorder_autogen/EWIEGA46WW/moc_qtrecorder.cpp.d
/example/QtRecorder/cmake-build-debug/screenreclib_autogen/EWIEGA46WW/moc_qtrecorder.cpp.d
/example/QtRecorder/cmake-build-debug/QTExampleApp_autogen/mocs_compilation.cpp
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/QTExampleApp_autogen/mocs_compilation.cpp.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder.dir/QtRecorder_autogen/mocs_compilation.cpp.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib.dir/screenreclib_autogen/mocs_compilation.cpp.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp_autogen.dir/ParseCache.txt
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder_autogen.dir/ParseCache.txt
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib_autogen.dir/ParseCache.txt
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/progress.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp_autogen.dir/progress.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder.dir/progress.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder_autogen.dir/progress.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib.dir/progress.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib_autogen.dir/progress.make
/example/SimpleMain/cmake-build-debug/CMakeFiles/SimpleMain.dir/progress.make
/example/SimpleMain/CMakeFiles/SimpleMain.dir/progress.make
/example/QtRecorder/cmake-build-debug/CMakeFiles/progress.marks
/example/SimpleMain/cmake-build-debug/CMakeFiles/progress.marks
/example/SimpleMain/CMakeFiles/progress.marks
/example/QtRecorder/cmake-build-debug/prova.mp4
/example/QtRecorder/cmake-build-debug/prova.mp4.mp4
/example/QtRecorder/cmake-build-debug/prova_lunga.mp4
/example/QtRecorder/cmake-build-debug/provah264.mp4
/example/QtRecorder/cmake-build-debug/provah264.mp4.mp4
/example/QtRecorder/cmake-build-debug/QTExampleApp
/example/QtRecorder/cmake-build-debug/QTExampleApp.cbp
/example/QtRecorder/cmake-build-debug/QtRecorder.cbp
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/qtrecorder.cpp.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/QtRecorder.dir/qtrecorder.cpp.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/screenreclib.dir/qtrecorder.cpp.o
/example/QtRecorder/cmake-build-debug/screenreclib.cbp
/example/QtRecorder/cmake-build-debug/senz.mp4
/example/SimpleMain/SimpleMain
/example/SimpleMain/cmake-build-debug/SimpleMain.cbp
/example/SimpleMain/SimpleMain.cbp
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/Users/giuliocarota/CLionProjects/screenreclib/lib/SRAudioFilter.cpp.o
/example/SimpleMain/CMakeFiles/SimpleMain.dir/Users/giuliocarota/CLionProjects/screenreclib/src/SRAudioFilter.cpp.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/Users/giuliocarota/CLionProjects/screenreclib/lib/SRAudioInput.cpp.o
/example/SimpleMain/CMakeFiles/SimpleMain.dir/Users/giuliocarota/CLionProjects/screenreclib/src/SRAudioInput.cpp.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/Users/giuliocarota/CLionProjects/screenreclib/lib/SRDecoder.cpp.o
/example/SimpleMain/CMakeFiles/SimpleMain.dir/Users/giuliocarota/CLionProjects/screenreclib/src/SRDecoder.cpp.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/Users/giuliocarota/CLionProjects/screenreclib/lib/SREncoder.cpp.o
/example/SimpleMain/CMakeFiles/SimpleMain.dir/Users/giuliocarota/CLionProjects/screenreclib/src/SREncoder.cpp.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/Users/giuliocarota/CLionProjects/screenreclib/lib/SRInput.cpp.o
/example/SimpleMain/CMakeFiles/SimpleMain.dir/Users/giuliocarota/CLionProjects/screenreclib/src/SRInput.cpp.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/Users/giuliocarota/CLionProjects/screenreclib/lib/SRMediaOutput.cpp.o
/example/SimpleMain/CMakeFiles/SimpleMain.dir/Users/giuliocarota/CLionProjects/screenreclib/src/SRMediaOutput.cpp.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/Users/giuliocarota/CLionProjects/screenreclib/lib/SRRecorder.cpp.o
/example/SimpleMain/CMakeFiles/SimpleMain.dir/Users/giuliocarota/CLionProjects/screenreclib/src/SRRecorder.cpp.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/Users/giuliocarota/CLionProjects/screenreclib/lib/SRVideoFilter.cpp.o
/example/SimpleMain/CMakeFiles/SimpleMain.dir/Users/giuliocarota/CLionProjects/screenreclib/src/SRVideoFilter.cpp.o
/example/QtRecorder/cmake-build-debug/CMakeFiles/QTExampleApp.dir/Users/giuliocarota/CLionProjects/screenreclib/lib/SRVideoInput.cpp.o
/example/SimpleMain/CMakeFiles/SimpleMain.dir/Users/giuliocarota/CLionProjects/screenreclib/src/SRVideoInput.cpp.o
/example/QtRecorder/cmake-build-debug/stefano.mp4
/example/QtRecorder/cmake-build-debug/stefano.mp4.mp4
/example/QtRecorder/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/example/SimpleMain/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/example/SimpleMain/CMakeFiles/TargetDirectories.txt
/example/QtRecorder/cmake-build-debug/QTExampleApp_autogen/include/ui_qtrecorder.h
/example/QtRecorder/cmake-build-debug/QtRecorder_autogen/include/ui_qtrecorder.h
/example/QtRecorder/cmake-build-debug/screenreclib_autogen/include/ui_qtrecorder.h
